body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
  color: #333;
  margin: 0;
  padding: 0;
}


.carousel {
  margin: auto;
  height: 500px; 
}

.carousel-item {
  height: 400px;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.carousel-caption h2,
.carousel-caption p.caption {
  margin: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-name {
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  margin: 0.5%;
}

.card-header {
  height: 45px;
}

#logo {
  width: 90px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 10%;
}

#what-is {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

hr.style-two {
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 10), rgba(0, 0, 0, 0));
}